html {
  box-sizing: border-box;
  font-family: lato, sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
}

h1 {
  display: block;
}

p {
  display: block;
}

a {
  display: block;
  border: 3px solid #333;
}

a:hover {
  background-color: #666;
}
