html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  vertical-align: middle;
  margin: 1.5rem;
}

img {
  display: block;
  width: 100%;
}

.image {
  display: inline-block;
  max-width: 25em;
  padding-right: 2em;
}

section {
  display: inline-block;
  width: 100%;
}

.text {
  display: inline-block;
  text-align: left;
  max-width: 25em;
  padding: 1em;
}

.btn {
  display: block;
  border: 3px solid #333;
  border-radius: 5px;
  text-align: center;
  padding: .4em .75em .5em;
  text-decoration: none;
  color: #333;
  max-width: 9em;
}

.btn a:hover {
  background-color: #666;
  border: 3px solid #666;
  color: #eee9de;
}
